Repository SamyArab/Condo-Management-Systems, pull requests merged in 2024-03, with the labels that each got.

#9 CMC Units table
  CondoMAXium/.eslintrc.cjs
  CondoMAXium/src/App.tsx
  CondoMAXium/src/components/CMCUnits.tsx
  CondoMAXium/src/components/CMCUnitsCss.css
  CondoMAXium/src/test/CMCUnits.test.tsx
Labels: bug, CMC dashboard page, Testing

#10 Reservation page
  .DS_Store
  CondoMAXium/package-lock.json
  CondoMAXium/package.json
  CondoMAXium/src/App.tsx
  CondoMAXium/src/components/form-reservation.tsx
  CondoMAXium/src/components/gymroom.jpg
  CondoMAXium/src/components/my-reservations.tsx
  CondoMAXium/src/components/reservation.tsx
  CondoMAXium/src/components/reservationCss.css
  CondoMAXium/src/components/rooftop_deck.jpeg
  CondoMAXium/src/components/sparoom.jpg
Labels: reservation page

#13 fixing css file connection and adding profile form page
  CondoMAXium/pages/profile-form/index.js
  CondoMAXium/pages/profile/index.js
  CondoMAXium/pages/reservation/index.js
  CondoMAXium/pages/units/index.js
  CondoMAXium/styles/profile.module.css
  CondoMAXium/styles/profileForm.module.css
  CondoMAXium/styles/reservation.module.css
  CondoMAXium/styles/units.module.css
Labels: profile page

#15 Create README.md
  README.md
Labels: documentation

#35 CMC Dashboard
  CondoMAXium/pages/dashboardCMC/index.js
  CondoMAXium/public/seasidecondos.jpg
Labels: CMC dashboard page, owner dashboard page, mix-up

#31 Maintenance Reservation
  CondoMAXium/pages/maintenance-reservation/index.js
  CondoMAXium/test/addProperty.js
  CondoMAXium/test/dashboard.js
  CondoMAXium/test/maintenanceReservation.jsx
Labels: Testing, maintenance request page

#18 Re-implementing Testing
  CondoMAXium/.eslintrc.json
  CondoMAXium/babel.config.json
  CondoMAXium/package-lock.json
  CondoMAXium/package.json
  CondoMAXium/pages/profile-form/index.js
  CondoMAXium/pages/signup/index.js
  CondoMAXium/pages/units/index.js
  CondoMAXium/test/Footer.test.jsx
  CondoMAXium/test/Header.test.jsx
  CondoMAXium/test/Layout.test.jsx
  CondoMAXium/test/login.test.jsx
  CondoMAXium/test/main.test.jsx
  CondoMAXium/test/profile-form.test.js
  CondoMAXium/test/profile.test.jsx
  CondoMAXium/test/signup.test.js
  CondoMAXium/test/signup.test.jsx
  CondoMAXium/test/units.test.js
Labels: profile page, sign up page, Testing, units dashboard page

#28 Unit add/edit pages
  CondoMAXium/pages/add-unit/index.js
  CondoMAXium/pages/edit-unit/index.js
  CondoMAXium/pages/units/index.js
Labels: bug, units dashboard page

#38 Testing addProperty, dashboard, dashboardCMC, login, and maintenance reservation.
  CondoMAXium/pages/add-property/index.js
  CondoMAXium/pages/maintenance-reservation/index.js
  CondoMAXium/test/addProperty.js
  CondoMAXium/test/addProperty.test.js
  CondoMAXium/test/dashboard.test.js
  CondoMAXium/test/dashboardCMC.test.js
  CondoMAXium/test/login.test.js
  CondoMAXium/test/maintenanceReservation.jsx
  CondoMAXium/test/maintenanceReservation.test.js
Labels: login page, CMC dashboard page, Testing, owner dashboard page, maintenance request page, adding property page, High Priority

#37 Testing on units pages completed
  CondoMAXium/pages/add-unit/index.js
  CondoMAXium/pages/edit-unit/index.js
  CondoMAXium/pages/units/index.js
  CondoMAXium/test/add-unit.test.js
  CondoMAXium/test/edit-unit.test.js
  CondoMAXium/test/units.test.js
Labels: Testing, units dashboard page

#39 css file change, forgot to be added
  CondoMAXium/styles/units.module.css
Labels: improvement

#40 Fixing add-unit page with the new DB logic and additions to units page
  CondoMAXium/pages/add-unit/index.js
  CondoMAXium/pages/units/index.js
Labels: database, units dashboard page
